.part-description-container {
  background-color: $background-secondary;
  border-radius: 6px;
  box-shadow: $box-shadow-primary;
  margin-bottom: 8px;
  min-height: 80px;
  height: $height-part-description;
  padding: 20px;
  margin-bottom: 10px;

  .part-content {
    font-size: 28px;
    margin: 0;
  }

  .part-description {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
