$background-primary: #c88b52;
$background-secondary: #f2f5f7;
$background-button: #aea58e;

$color-primary: #ffcf00;
$color-secondary: #fff;

$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;

$box-shadow-primary: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$header-outer-height: 70px;
