$background-primary: #c88b52;
$background-secondary: #f2f5f7;
$background-button: #dbcfb1;

$color-primary: #ffcf00;
$color-secondary: #fff;

$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;

$header-outer-height: 70px;
