.container-vefiry {
  padding: 4vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-secondary;
}

form {
  max-width: 400px;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: $box-shadow-primary;

  .form-control {
    display: block;
    height: 50px;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
    min-width: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}
