$p: #cc4547;
$s: #000;
$duration: 7s;

html {
  background: $s !important;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-image: radial-gradient(#555 10%, rgba(#333, 0) 10%);
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 207px;
  justify-content: center;
  margin: 0 20px;
  overflow: hidden;
  position: relative;
  width: 160px;

  &.box-1 {
    background-size: 10px 10px;
    box-shadow: 0 0 50px 8px #ff5200;
    margin-left: 0;
    transform: rotateY(180deg);
    .noni {
      &.noni--1 {
        animation: p1-roam--1 $duration linear infinite both;
        left: 100%;
        transform: scale(0.5) translateY(-100%);
        &:before {
          background: radial-gradient(#fff 25%, rgba(0, 0, 0, 0) 15%),
            radial-gradient(#000 19%, rgba(0, 0, 0, 0) 30%);
          background-position: 21px 28px, 21px -6px;
          background-size: 30px 30px, 30px 30px;
          top: 18px;
          height: 15px;
        }
      }
      &.noni--2 {
        left: -200%;
        animation: p1-roam--2 $duration linear infinite both;
        transform: scale(0.5) translateY(-100%) rotatey(180deg);
      }
    }
  }

  &.box-2 {
    background-size: 20px 20px;
    box-shadow: 0 0 50px 4px #19d5ff;
    margin-right: 0;
    .noni {
      &.noni--1 {
        left: 160%;
        animation: p2-roam--1 $duration linear infinite both;
      }
      &.noni--2 {
        left: -200%;
        animation: p2-roam--2 $duration linear infinite both;
        transform: translateY(-50%) rotateY(180deg);
        &:before {
          background: radial-gradient(#fff 25%, rgba(0, 0, 0, 0) 15%),
            radial-gradient(#000 19%, rgba(0, 0, 0, 0) 30%);
          background-position: 21px 28px, 21px -6px;
          background-size: 30px 30px, 30px 30px;
          top: 18px;
          height: 15px;
        }
      }
    }
  }

  .noni {
    background: white;
    border-radius: 29% 40% 0 50%;
    height: 80px;
    margin-right: 50px;
    padding-right: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 10;
    &::after {
      background: white;
      border-radius: 10% 110% 27% 100%/60%;
      content: '';
      height: 25px;
      left: 31%;
      position: absolute;
      top: 75%;
      width: 60px;
      z-index: -30;
    }

    &::before {
      background-image: radial-gradient(#000 25%, rgba(#000, 0) 30%);
      background-position: -5px 15px;
      background-repeat: repeat-x;
      background-size: 25px 25px;
      border-radius: 50%;
      content: '';
      height: 50px;
      margin: 0 6px;
      position: absolute;
      width: 50px;
    }

    & .happy {
      background-color: #cc3333;
      border-radius: 13px 13px 50px 50px;
      height: 20px;
      left: 7px;
      position: relative;
      top: 51%;
      width: 40px;
    }
    & .surprised {
      height: 20px;
      width: 20px;
      position: relative;
      top: 51%;
      left: 15px;
      background-color: #cc3333;
      border-radius: 50%;
    }
  }
}

@keyframes p1-roam--1 {
  to {
    left: -200%;
  }
}

@keyframes p1-roam--2 {
  to {
    left: 150%;
  }
}

@keyframes p2-roam--1 {
  to {
    left: -250%;
  }
}

@keyframes p2-roam--2 {
  to {
    left: 150%;
  }
}

@media screen and (max-width: 450px) {
  .container {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 380px) {
  .container {
    transform: scale(0.7);
  }
}
